* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.headeer-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(10, 9, 9, 0.607);

  width: 100%;
  /* height: 10px; */
  position: fixed;
  z-index: 2;
}
.imga {
  height: 100px;
  cursor: pointer;
  animation: bounce-in-top 1.5s both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.navbaar ul {
  list-style: none;
  display: flex;
  gap: 100px;
}
.navbaar i {
  font-size: 3rem;
  display: none;
}
#men-buur {
  display: none;
}

.navbare-listt a {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgb(245, 228, 0);
}
.navbare-listt span {
  font-size: 1.7rem;
  color: rgb(245, 228, 0);
}
/* Main */
.main-containeer {
  /* background: url(https://http2.mlstatic.com/D_NQ_NP_873329-MLA50687710560_072022-O.webp); */
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title-main {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.main-info {
  background: yellow;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.main-imag img {
  height: 570px;
  width: 1293px;
  border-radius: 5px;
  filter: grayscale(100%);
  z-index: -1;
}
.css-button-shadow-border-sliding--black {
  width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #212529;
  z-index: 1;
}
.css-button-shadow-border-sliding--black:hover:after {
  width: 100%;
  left: 0;
}
.css-button-shadow-border-sliding--black:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #343a40;
  right: 0;
}
.css-button-shadow-border-sliding--black:active {
  top: 2px;
}
#Beneficios {
  background: rgb(255, 255, 255);
  padding: 70px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
}
.card-conatiner {
  width: 250px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid 1.5px black;
  padding: 10px;
  box-shadow: 20px 28px 39px -1px rgba(0, 0, 0, 1);
}
.cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-conatiner h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: transparent;
  background: linear-gradient(to right, #ff8008, #ffc837);
  -webkit-background-clip: text;
}
.card-conatiner p {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.card-conatiner img {
  width: 100%;
}
#Hombre {
  background: linear-gradient(
    90deg,
    rgba(255, 236, 10, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  gap: 10px;
}
.over img {
  height: 300px;
}
.over {
  background: #cdc6c6;
  width: 350px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.over ul {
  list-style: none;
}
.over-two {
  /* background: red; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button-fully-rounded--sand {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #818a94;
  background: #818a94;
}
.button-fully-rounded--sand:hover {
  background: #323232;
  color: #adb5bd;
}
.btn-crd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.over-two-bee {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-crd-be {
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
