@media (max-width: 576px) {
  html {
    /* border: solid red; */
  }
  header {
    display: flex;
    width: 432px;
    justify-content: space-around;
  }
  .navbar-uls {
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .navbarar i {
    display: block;
  }
  #toggle-menu:checked ~ .navbar-uls {
    display: flex;
  }
  #inicio {
    width: 432px;
  }
  #Beneficios {
    width: 432px;
    display: flex;
    flex-wrap: wrap;
  }
  #Hombre {
    width: 432px;
  }
  #Woman {
    width: 432px;
  }
  #About-Us {
    width: 432px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .footer-info {
    width: 432px;
  }
}
