@media (max-width: 576px) {
  .navbar ul {
    background: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: hidden;
  }
  .navbar ul a {
    color: rgb(245, 228, 0);
  }
  .navbar-list hr {
    color: rgb(245, 228, 0);
    width: 100%;
    display: flex;
  }
  .navbar i {
    display: block;
  }
  .header-class {
    gap: 100px;
  }
  .ini {
    display: none;
  }
  #menu-bur:checked ~ .navbar-list {
    display: flex;
  }
}
.form-container {
  padding: 50px;
}
