@media (max-width: 576px) {
  .navbar ul {
    background: rgba(185, 167, 3, 0.548);
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
  }
  .imgaa {
    display: none;
  }
  .navbar i {
    display: block;
  }
  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }
  #Beneficios {
    display: flex;
    flex-wrap: wrap;
    min-width: 576px;
    gap: 70px;
  }
  #inicio {
    min-width: 576px;
  }
  #Hombre {
    min-width: 576px;
  }
  #Woman {
    min-width: 576px;
  }
  #About-Us {
    display: flex;
    min-width: 576px;
    flex-wrap: wrap;
    gap: 20px;
  }
}
